$main-color: #e1b517;
.card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {
      color: white;
      margin: 15px;
      width: 10rem;
      img {
        width: 10rem;
        height: 17rem;
        border-radius: 10px;
      }
      img:hover {
        opacity: 0.5;
        cursor: pointer;
      }
      .card-rating {
        display: flex;
        align-items: center;
        .star-svg {
          color: $main-color;
          margin: 5px 4px;
        }
      }
      .card-name {
        font-weight: bolder;
        font-size: 16px;
        margin-left: 5px;
        overflow: hidden;
      }
    }
  }