$main-color: #e1b517;

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
  width: 95%;
  margin: 0 auto;
  position: sticky;
  top: 0px;
  z-index: 100;
  .logo {
    background-color: $main-color;
    border-radius: 10px;
    .navbar-name {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      padding: 10px;
      font-size: 25px;
      font-weight: bolder;
      .name-link {
        text-decoration: none;
        color: black;
      }
    }
  }
  .navbar-sections {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-right: 20px;
      font-size: 18px;
    }
    li:hover {
      cursor: pointer;
      transition: ease-in-out 0.2s;
      color: $main-color;
    }
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    margin: 0 !important;
  }
}
