$main-color: #e1b517;

.homepage {
  display: flex;
  flex-direction: column;
  .burger-menu {
    display: none;
  }
  .container {
    display: flex;
    position: relative;
    .sidebar-icon {
      color: red;
    }
    .sidebar {
      width: 23%;
      .sidebar-sections {
        padding: 20px;
        margin-left: 20px;
        position: sticky;
        top: 88px;
        li:nth-child(1) {
          display: flex;
          width: 100%;
          border: none;
          margin: 20px;
          padding: 0;
          opacity: 1;
          .search-form {
            position: relative;
            input {
              width: 12rem;
              height: 30px;
              border-radius: 8px;
              border: none;
              padding: 16px;
              padding-left: 35px;
              background-color: #f2f2f2;
            }
            .search-btn {
              background: none;
              border: none;
              color: $main-color;
              height: 37px;
              position: absolute;
              right: 85%;
              .search-icon {
                width: 17px;
                height: 17px;
              }
            }
            .submit-btn:hover {
              cursor: pointer;
              color: $main-color;
            }
          }
        }
        li {
          width: 85%;
          display: flex;
          align-items: center;
          font-size: 19px;
          margin: 12px;
          padding: 8px;
          color: white;
          opacity: 0.7;
          padding-left: 20px;
          border: 1px solid $main-color;
          border-radius: 8px;
          .icon {
            margin: 0 8px;
            margin-top: 2px;
          }
          .link {
            text-decoration: none;
            color: white;
            display: flex;
            padding: 2px;
          }
          button {
            background: none;
            color: white;
            border: none;
            font-size: 17.5px;
          }
        }
        li:hover,
        button:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
    .search-content {
      // width: 70%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .movie-card {
        color: white;
        margin: 15px;
        width: 14rem;
        img {
          width: 14rem;
          height: 17.5rem;
          border-radius: 10px;
        }
        img:hover {
          opacity: 0.5;
          cursor: pointer;
        }
        .movie-rating {
          display: flex;
          align-items: center;
          .star-svg {
            color: $main-color;
            margin: 5px 4px;
          }
        }
        .movie-name {
          font-weight: bolder;
          font-size: 16px;
          margin-left: 5px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .homepage {
    .burger-menu {
      color: $main-color;
      margin: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        border: 1px solid $main-color;
        width: 10%;
        padding: 5px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .menu-icon {
          width: 1rem;
          height: 1rem;
        }
        .menu-icon:hover {
          cursor: pointer;
        }
      }
    }
    .container {
      width: 90%;
      margin: 0 auto;
      .sidebar {
        background-color: black !important;
        position: absolute;
        transform: translateX(-200%);
        width: 100% !important;
        z-index: 100;
        transition: all 0.7s ease;
        .sidebar-sections {
          .search {
            text-align: center;
            .search-form {
              .input {
                width: 100% !important;
              }
            }
          }
          li,
          button {
            font-size: 14px !important;
          }
        }
        &.opened {
          transform: translateX(0);
        }
      }
      .search-content {
        .movie-card {
          margin: 15px;
          width: 6rem;
          img {
            width: 6rem;
            height: 9rem;
          }
          .movie-name {
            font-size: 16px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}
